{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div id="products">
    <div class="container content-lg">
        <div class="row text-center margin-b-40">
            <div class="col-sm-6 col-sm-offset-3">
                <h2>Your opportunities</h2>
                <p>Let us lift you higher than heaven</p>
            </div>
        </div>
        <!--// end row -->

        <div class="row">
            <!-- Latest Products -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive wow fadeIn" src="{% static 'homepage/home/img/970x647/01.jpg' %}" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".1s">
                </div>
                <h4><a href="#">In the sky</a> <span class="text-uppercase margin-l-20">School</span></h4>
                <p>Flight school for beginners</p>
                <a class="link" href="#">Read More</a>
            </div>
            <!-- End Latest Products -->

            <!-- Latest Products -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive wow fadeIn" src="{% static 'homepage/home/img/970x647/02.jpg' %}" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".2s">
                </div>
                <h4><a href="#">Obedience</a> <span class="text-uppercase margin-l-20">Lecture course</span></h4>
                <p>Tips for fostering dragon behavior and manners</p>
                <a class="link" href="#">Read More</a>
            </div>
            <!-- End Latest Products -->

            <!-- Latest Products -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive wow fadeIn" src="{% static 'homepage/home/img/970x647/03.jpg' %}" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".3s">
                </div>
                <h4><a href="#">Dragon care</a> <span class="text-uppercase margin-l-20">Service</span></h4>
                <p>Help with pet health care</p>
                <a class="link" href="#">Read More</a>
            </div>
            <!-- End Latest Products -->
        </div>
        <!--// end row -->
    </div>

    <div class="container-full-width">
        <div class="row row-space-2">
            <div class="col-sm-6 sm-margin-b-4">
                <img class="img-responsive" src="{% static 'homepage/home/img/970x647/01.jpg' %}" alt="Image">
            </div>
            <div class="col-sm-6">
                <img class="img-responsive" src="{% static 'homepage/home/img/970x647/03.jpg' %}" alt="Image">
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Products -->

<!-- Service -->
<div id="service">
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="content-lg container">
            <div class="row row-space-2 margin-b-4">
                <div class="col-sm-4 sm-margin-b-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-chemistry"></i>
                        </div>
                        <div class="service-info">
                            <h3>Dragon food</h3>
                            <p class="margin-b-5">Large selection of feeds for all kinds of dragons, from grains to energy drinks</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
                <div class="col-sm-4 sm-margin-b-4">
                    <div class="service bg-color-base wow fadeInDown" data-height="height" data-wow-duration=".3" data-wow-delay=".1s">
                        <div class="service-element">
                            <i class="service-icon color-white icon-notebook"></i>
                        </div>
                        <div class="service-info">
                            <h3 class="color-white"></h3>
                            <p class="color-white margin-b-5">Check out the new achievements of breeders</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-badge"></i>
                        </div>
                        <div class="service-info">
                            <h3>Feature Reach</h3>
                            <p class="margin-b-5">What features are waiting for new dragon owners</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
            </div>
            <!--// end row -->

            <div class="row row-space-2">
                <div class="col-sm-4 sm-margin-b-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-notebook"></i>
                        </div>
                        <div class="service-info">
                            <h3>Useful Documentation</h3>
                            <p class="margin-b-5">If this is your first time buying or acquiring a new breed, read the documentation</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
                <div class="col-sm-4 sm-margin-b-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-speedometer"></i>
                        </div>
                        <div class="service-info">
                            <h3>Fast Delivery</h3>
                            <p class="margin-b-5">The dragon egg will be delivered to you on the day of order</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-badge"></i>
                        </div>
                        <div class="service-info">
                            <h3>Free Supports</h3>
                            <p class="margin-b-5">We are ready to provide support in education dragons at any day and hour</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</div>
<!-- End Service -->

<!-- Promo Banner -->
<div class="promo-banner">
    <div class="container-sm content-lg">
        <h2 class="promo-banner-title">New Great Opportunities</h2>
        <p class="promo-banner-text">A new world will open up for you</p>
    </div>
</div>
<!-- End Promo Banner -->

<!-- Work -->
<div id="work">
    <div class="content-md container">
        <!-- Masonry Grid -->
        <div class="masonry-grid row row-space-2">
            <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8 margin-b-4">
                <!-- Work -->
                <div class="work work-popup-trigger">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="{% static 'homepage/home/img/800x400/01.png' %}" alt="Portfolio Image">
                    </div>
                    <div class="work-popup-overlay">
                        <div class="work-popup-content">
                            <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                            <div class="margin-b-30">
                                <h3 class="margin-b-5">Common Welsh Green</h3>
                                <span>Specification &amp; Size</span>
                                <h5>The common Welsh is green in colour and with two spiked horns that reside on top of its head. The tail is vert stream-line with a single pointed tip at the end.</h5>
                                <h5>Testy food: Sheeps</h5>
                                <h5>18 ft</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 margin-b-4">
                <!-- Work -->
                <div class="work work-popup-trigger">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="{% static 'homepage/home/img/397x400/01.png' %}" alt="Portfolio Image">
                    </div>
                    <div class="work-popup-overlay">
                        <div class="work-popup-content">
                            <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                            <div class="margin-b-30">
                                <h3 class="margin-b-5">Antipodean Opaleye</h3>
                                <span>Specification &amp; Size</span>
                                <h5>Native to New Zealand, the Opaleye is generally considered one of the most beautiful dragons, with pearly scales that line its body, and glittering multi-coloured eyes that have no pupils.</h5>
                                <h5>Testy food: Sheeps</h5>
                                <h5>40 ft</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 md-margin-b-4">
                <!-- Work -->
                <div class="work work-popup-trigger">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="{% static 'homepage/home/img/397x300/01.png' %}" alt="Portfolio Image">
                    </div>
                    <div class="work-popup-overlay">
                        <div class="work-popup-content">
                            <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                            <div class="margin-b-30">
                                <h3 class="margin-b-5">Chinese Fireball</h3>
                                <span>Specification &amp; Size</span>
                                <h5>The Fireball is scarlet and smooth scaled with a fringe of golden spikes around its snub-snouted face and extremely protuberant eyes.</h5>
                                <h5>Testy food: Pigs</h5>
                                <h5>25 ft</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 md-margin-b-4">
                <!-- Work -->
                <div class="work work-popup-trigger">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="{% static 'homepage/home/img/397x300/02.png' %}" alt="Portfolio Image">
                    </div>
                    <div class="work-popup-overlay">
                        <div class="work-popup-content">
                            <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                            <div class="margin-b-30">
                                <h3 class="margin-b-5">Hebridean Black</h3>
                                <span>Specification &amp; Size</span>
                                <h5>It has dark rough scales, ridges along its back, and a tail tipped with an arrow-shaped spike. The Hebridean Black has brilliant purple eyes and can grow to be up to thirty feet long.</h5>
                                <h5>Testy food: Deer, Cows</h5>
                                <h5>30 ft</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">
                <!-- Work -->
                <div class="work work-popup-trigger">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="{% static 'homepage/home/img/397x300/03.png' %}" alt="Portfolio Image">
                    </div>
                    <div class="work-popup-overlay">
                        <div class="work-popup-content">
                            <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                            <div class="margin-b-30">
                                <h3 class="margin-b-5">Hungarian Horntail</h3>
                                <span>Specification &amp; Size</span>
                                <h5>It has black scales, and is lizard-like in appearance. It also has yellow eyes, bronze horns and similarly coloured spikes that protrude from its long tail.</h5>
                                <h5>Testy food: Sheep, Goats, (and whenever possible, humans)</h5>
                                <h5>50 ft</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Work -->
            </div>
        </div>
        <!-- End Masonry Grid -->
    </div>
</div>
<!-- End Work -->

<!-- Pricing -->
<div id="pricing">
    <div class="bg-color-sky-light">
        <div class="content-lg container">
            <div class="row row-space-2">
                <div class="col-sm-4 sm-margin-b-4">
                    <!-- Pricing -->
                    <div class="pricing">
                        <div class="margin-b-30">
                            <i class="pricing-icon icon-chemistry"></i>
                            <h3>Starter Kit <span> - $</span> 99</h3>
                            <p>Good for beginners</p>
                        </div>
                        <ul class="list-unstyled pricing-list margin-b-50">
                            <li class="pricing-list-item">Basic Features</li>
                            <li class="pricing-list-item">One Egg</li>
                            <li class="pricing-list-item">10 Kilograms Food</li>
                        </ul>
                        <a href="1.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>
                    </div>
                    <!-- End Pricing -->
                </div>
                <div class="col-sm-4 sm-margin-b-4">
                    <!-- Pricing -->
                    <div class="pricing pricing-active">
                        <div class="margin-b-30">
                            <i class="pricing-icon icon-badge"></i>
                            <h3>Professional Kit <span> - $</span> 199</h3>
                            <p>Suitable for hobbyists and novice collectors</p>
                        </div>
                        <ul class="list-unstyled pricing-list margin-b-50">
                            <li class="pricing-list-item">Basic Features</li>
                            <li class="pricing-list-item">One Dragon</li>
                            <li class="pricing-list-item">One Egg</li>
                            <li class="pricing-list-item">50 Kilograms Food</li>
                        </ul>
                        <a href="1.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>
                    </div>
                    <!-- End Pricing -->
                </div>
                <div class="col-sm-4">
                    <!-- Pricing -->
                    <div class="pricing">
                        <div class="margin-b-30">
                            <i class="pricing-icon icon-shield"></i>
                            <h3>Advanced <span> - $</span> 599</h3>
                            <p>Suitable for Trainers and breedersr</p>
                        </div>
                        <ul class="list-unstyled pricing-list margin-b-50">
                            <li class="pricing-list-item">Extended Features</li>
                            <li class="pricing-list-item">Two Dragon</li>
                            <li class="pricing-list-item">Three Egg</li>
                            <li class="pricing-list-item">500 Kilograms Food</li>
                        </ul>
                        <a href="1.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>
                    </div>
                    <!-- End Pricing -->
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</div>
<!-- End Pricing -->
<!-- Contact -->
<div id="contact">
    <!-- Google Map -->
    <div class="gmap">
        <div id="map" class="map height-400"></div>
        <address class="gmap-address">
            <p class="color-heading margin-b-0">Chelyabinsk, Russia</p>
        </address>
    </div>
    <!-- End Google Map -->
</div>
<!-- End Contact -->
{% endblock content %}
